# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment variables
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build output
dist/
build/

# Coverage directory
coverage/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
